.floor-white {
  background-color: #FFF;
}

.floor-black {
  background-color: #000;
}

.floor-dark-yellow {
  background-color: rgb(202 138 4);
}

.floor-yellow {
  background-color: rgb(253 224 71);;
}
